.bg-custom {
    background-color: #ffde59;
}
.bg-custom2 {
    background-color: #ffde59;
}
.btn-custom {
    background-color:#ffde59;
    color: #ffffff;
  }
  .btn-custom:hover {
    background-color:#ffde59;
    color: #ffffff;
  }

  