.heroportada {
  background: radial-gradient(circle, #ffde59 0%, rgba(255,224,100,255) 35%, rgba(166,166,166,255) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.custom-btn {
    background-color: #343a40; /* Color gris oscuro */
    color: #fff; /* Color de texto blanco */
  }
  
  .custom-btn:hover {
    background-color: #000; /* Color de fondo negro en el hover */
  }
  
  .gradient-background {
    background: radial-gradient(circle, #ffde59 0%, rgba(255,224,100,255) 35%, rgba(166,166,166,255) 100%);
  }
  